*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #2C3E50;
    
}
.container{
    width: 1200px;
    margin: auto;    
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar .navbar-brand h1{
    padding: 20px 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.navbar-nav{
    list-style-type: none;
    display: flex;
}
.navbar .navbar-nav .nav-item{
    padding: 0 20px;
    margin: auto;
}
.nav-item:hover .nav-link{
    transform: translate(0.5);
    background-color: #1ABC9C;
    border-radius: 1px;
    
}
.navbar .nav-item a{
    text-decoration: none;
    padding: 20px 20px;
    color: #fff;
    font-weight: bold;
}
/* ========body========= */
.hero-banner{
    background-color: #1ABC9C;
    /* ========================error================================== */
    padding: 100px 0;
    /* height: 700px; */
    text-align: center;
}
.banner-img .img{
    /* ========================error================================== */
    /* margin: 100px; */
    /* margin-left: 450px; */
    margin-bottom: 30px;
    width: 250px;
}
.banner-title {
    color: #fff;
    /* text-align: center; */
    font-size: 22px;
}
.banner-title span{
    display: block;
    font-size: 18px;
    /* ========================error================================== */
    margin-top: 10px;
}
/* =========portfolio========= */
/* ========================error================================== */
.portfolio-section
.portfolio{
    text-align: center;
    color: #2C3E50;
    margin: 250px 0;
    font-size: 19px;
    font-weight: bold;
}
.portfolio-icon .icon{
    font-size: 27px;
}
.rows{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cols-4{
    width:calc(33.33% - 10px);
    padding: 15px;
}
.portfolio-img{
    width: 100%;
    border-radius: 15px;
}
/* ==========About=========== */
.about{
    background-color: #1ABC9C;
    height: 500px;
    margin-top: -180px;
}
.hero-header{
    color: #fff;
    text-align: center;
    padding: 80px 0;
    font-size: 25px;
    font-weight: bold;
}
.hero-header h1{
    color: #fff;
}
.hero-header .star{
    font-size: 30px;
}
.hero-body .rows{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    color: #fff;
    
}
.box-download{
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-download button {
    padding: 15px 30px;
    font-size: 18px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
 /* ===========Contact Me===========  */
 .contact_me{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
 }
 .contact-header{
    color: #2C3E50;
    text-align: center;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: bold;
    font-weight: 600;
    letter-spacing: 0.5px;
 }
.contact-form{
    width: 500px;
    padding: 80px 35px;
 }
.form-group {
    margin-bottom: 30px;
    position: relative;
    font-size: 23px;
}

.input-field {
    width: 100%;
    padding: 16px 0 8px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-bottom-color: #6C88A5;
}
/* when close this it not run to top when click */
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
    top: 0;
    font-size: 14px;
    color: #6C88A5;
    transform: translateY(0);
}

.input-label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #6C88A5;
    transition: all 0.3s ease;
    pointer-events: none;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 6px;
    display: none;
}

.input-field:invalid:not(:focus):not(:placeholder-shown) {
    border-bottom-color: #e74c3c;
}

.input-field:invalid:not(:focus):not(:placeholder-shown) + .input-label {
    color: #e74c3c;
}

.input-field:invalid:not(:focus):not(:placeholder-shown) ~ .error-message {
    display: block;
}

.submit-btn {
    background-color: #6AD3BF;
    color: white;
    border: none;
    padding: 16px 15px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    width: 90px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-weight: 40;
}

.submit-btn:hover {
    background-color: #6AD3BF;
}

/* ============Location================== */
.location{
    background-color: #2C3E50;
    width: 100%;
    height: 250px;
    padding: 60px 10px;
     font-size: 16px;
    font-weight: bold; 
    text-align: center;
}
.location .rows{
    color: #ffff;
}
.location .icon{
    padding: 0 5px;
}
/* ===============footer================ */

.the-end{
    background-color: #1A252F;
    color: #fff;
    text-align: center;
    height: 70px;
    padding: 30px 0;
    font-size: 17px;

}